.card {
	// background-color: red;
	max-width: 250px;
	border: 1px solid black;
	padding: 1rem;
    min-height: 320px;

	img {
		width: 100%;
	}

	h1 {
		font-size: 1.3rem;
	}

	h1 {
		font-size: 1.3rem;
	}

	button {
		display: block;
		margin: auto;
		width: 50%;
	}
}
