.bid-page-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.bid-wrapper {
		display: flex;
		max-width: 600px;
		padding: 1rem;
		flex-direction: column;
		border: 1px solid black;
		margin-bottom: 1rem;

		img {
			width: 30%;
		}

		.vehicle-details {
			display: flex;
			font-weight: bold;
		}

		.bid-amount {
			display: block;
			margin-left: auto;
		}
	}

	.no-bids {
		flex-grow: 1;
	}

	.total{
		font-weight: bold;
		text-align: right;
		padding: 2rem;
	}
}
